@import "../../styles/variables.scss";

.historyCardContainer {
  list-style: none;
  background-color: $background-secundary;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: $result;
  gap: 1rem;
  div {
    div {
      display: flex;
      gap: 1rem;
    }
  }
}

.stats {
  font-size: large;
  font-weight: 700;
  color: $white;
}

.label {
  font-weight: 700;
}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
